* {
    font-family:'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 50%;
}

header {
    font-size: 5rem;
    background: linear-gradient(to right top, red, white);
    color: white;
    
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 3rem;
}

section input, button {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    height: 4rem;
    border-radius: 2rem;
}

p {
    font-size: 2.5rem;
}

#cityHistory {
    margin-top: 2rem;
}

button:hover {
    background-color: red; 
    color: white; 
    transition: .65s;
}